<?xml version='1.0' encoding='utf-8'?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="${applicationId}">

    <application android:label="${app_name}" android:icon="@mipmap/ic_launcher">

        <!-- Existing application entries are preserved by p4a; this template
             adds a FileProvider which allows sharing internal files via
             content:// URIs on Android 7+ devices. If you already have a
             custom manifest, merge the <provider> entry below into your
             <application> element. -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>

</manifest>
