<?xml version='1.0' encoding='utf-8'?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="${applicationId}">

    <!-- Disable hardware acceleration to work around an hwui mutex crash
         (FORTIFY: pthread_mutex_lock on destroyed mutex in hwuiTask/SDLActivity)
         that affects SDL2-based Kivy apps on Android 16.
         NOTE: p4a's own template hardcodes hardwareAccelerated="true".
         The CI build patches that template via sed; this file documents
         the intended value for reference. -->
    <application android:label="${app_name}"
                 android:icon="@mipmap/ic_launcher"
                 android:hardwareAccelerated="false">

        <!-- FileProvider allows sharing internal files via content:// URIs
             on Android 7+ devices. -->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>

</manifest>
